
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow menu-custom" data-scroll-to-active="true">
    <div class="main-menu-content">
         @await Component.InvokeAsync("AdminNav")
    </div>
    <!--  @await Component.InvokeAsync("DropdownUser") -->
</div>

@await Component.InvokeAsync("DropdownUser")

