@model QLTB.ViewModels.ViewPermissionViewModel

<div class="content-header row">
    <div class="content-header-left col-md-12">
        <h3 class="content-header-title mb-0">Quản lý người dùng</h3>
    </div>
</div>
<div class="content-body">
    <div class="group-filter">
        <div class="form-row">
            <div class="col-grow">
                <div class="form-row">
                    <div class="col-md-4 form-group">
                        <label class="form-label">Từ khóa</label>
                        <div class="search-group search-icon-left">
                            <input type="text" class="form-control" id="tu-khoa" placeholder="Nhập từ khóa tìm kiếm..." maxlength="1000" />
                            <i id="btn-search" class="icon-fluent icon_fluent_search_filled icon-search"></i>
                        </div>
                    </div>
                 @*    <div class="col-md-8 form-group">
                        <label class="form-label">Tổ chức</label>
                        <select class="form-control" id="org-search"></select>
                    </div> *@
                </div>
            </div>
            <div class="col-basis form-group group-button-action d-flex flex-end">
                <button type="button" class="btn btn-secondary" id="tim-kiem">Lọc</button>
                <button type="button" class="btn btn-outline-light" id="tat-ca">Tất cả</button>
            </div>
        </div>
        @if (Model.PermittedCreate == 1)
        {
            <div class="form-group group-button-action text-right">
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#modalAdd">Thêm mới</button>
            </div>
        }
    </div>
    <div class="row">
        <div class="table-wrapper">
            <table class="table row-border compact" id="dataGrid">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Tên truy cập</th>
                        <th>Họ và tên</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        @if (Model.PermittedEdit > 0 || Model.PermittedDelete > 0)
                        {
                            <th>Chức năng</th>
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal right fade" id="modalAdd" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới người dùng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form role="form" id="formAdd">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tenTruyCapAdd" class="form-label">Tên truy cập<span class="text-red"> *</span></label>
                        <input type="text" class="form-control field-input" id="tenTruyCapAdd" placeholder="Nhập tên truy cập" autocomplete="off">
                        <span id="notifi_tenTruyCapAdd" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                    </div>
                    <div class="form-group">
                        <label for="matKhauAdd" class="form-label">Mật khẩu<span class="text-red"> *</span></label>
                        <div class="position-relative field-password">
                            <input type="password" class="form-control field-input" id="matKhauAdd" placeholder="Nhập mật khẩu" autocomplete="off" />
                            <div class="form-control-position form-control-position-right cursor-pointer">
                                <i class="icon-fluent icon_fluent_eye_off_filled showPassword text-gray"></i>
                            </div>
                        </div>
                        <span id="notifi_matKhauAdd" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                    </div>
                    <div class="form-group">
                        <label for="hoTenAdd" class="form-label">Họ và tên<span class="text-red"> *</span></label>
                        <input type="text" class="form-control field-input" id="hoTenAdd" placeholder="Nhập họ tên" autocomplete="off" />
                        <span id="notifi_hoTenAdd" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                    </div>
                    <div class="form-group">
                        <label for="hopThuAdd" class="form-label">Hộp thư<span class="text-red"> *</span></label>
                        <input type="text" class="form-control field-input" id="hopThuAdd" placeholder="Nhập hộp thư" autocomplete="off" />
                        <span id="notifi_hopThuAdd" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                    </div>
                 @*    <div class="form-group">
                        <label for="select_toChucAdd" class="form-label">Tổ chức</label>
                        <select id="select_toChucAdd" class="form-control" data-placeholder="Chọn tổ chức">
                        </select>
                    </div> *@
                    <div class="form-group">
                        <label for="select_vaiTroAdd" class="form-label">Vai trò</label>
                        <select id="select_vaiTroAdd" class="form-control" data-placeholder="Chọn vai trò" multiple>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-secondary">Lưu</button>
                </div>
            </form>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- Modal edit-->
<div class="modal right fade" id="modalEdit" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật người dùng <span id="ttcEdit"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form role="form" id="formEdit">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tenTruyCapEdit" class="form-label">Tên truy cập</label>
                        <input type="text" class="form-control field-input" id="tenTruyCapEdit" disabled />
                    </div>
                    <div class="form-group">
                        <label for="hoTenEdit" class="form-label">Họ và tên<span class="text-red"> *</span></label>
                        <input type="text" class="form-control field-input" id="hoTenEdit" placeholder="Nhập họ tên" autocomplete="off" />
                        <span id="notifi_hoTenEdit" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                    </div>
                    <div class="form-group">
                        <label for="hopThuEdit" class="form-label">Hộp thư<span class="text-red"> *</span></label>
                        <input type="text" class="form-control field-input" id="hopThuEdit" placeholder="Nhập hộp thư" autocomplete="off" />
                        <span id="notifi_hopThuEdit" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                    </div>
                  @*   <div class="form-group">
                        <label for="select_toChucEdit" class="form-label">Tổ chức</label>
                        <select id="select_toChucEdit" class="form-control" data-placeholder="Chọn tổ chức">
                        </select>
                    </div> *@
                    <div class="form-group">
                        <label for="select_vaiTroEdit" class="form-label">Vai trò</label>
                        <select id="select_vaiTroEdit" class="form-control" data-placeholder="Chọn vai trò" multiple>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-secondary">Lưu</button>
                </div>
            </form>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- Modal reset password-->
<div class="modal right fade" id="modalResetPass" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đổi mật khẩu người dùng <span id="ttcReset"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form role="form" id="formResetPass">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tenTruyCapReset" class="form-label">Tên truy cập</label>
                        <input type="text" class="form-control field-input" id="tenTruyCapReset" disabled />
                    </div>
                    <div class="form-group">
                        <label for="matKhauReset" class="form-label">Mật khẩu<span class="text-red"> *</span></label>
                        <div class="position-relative field-password">
                            <input type="password" class="form-control field-input" id="matKhauReset" placeholder="Nhập mật khẩu" autocomplete="off" />
                            <div class="form-control-position form-control-position-right cursor-pointer">
                                <i class="icon-fluent icon_fluent_eye_off_filled showPassword text-gray"></i>
                            </div>
                        </div>
                        <span id="notifi_matKhauReset" class="validation-msg d-none">Vui lòng nhập thông tin!</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-secondary">Lưu</button>
                </div>
            </form>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!-- Modal Lock-->
<div class="modal fade modal-delete" id="modalLock" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form role="form" id="formLock">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="userNameLock">
                    <div class="text-center">
                        <i class="icon-fluent icon_fluent_lock_closed_filled text-red"></i>
                        <span class="d-block mt-20">Bạn có chắc chắn muốn khóa tài khoản<br><span id="tenLock" class="text-red multiline-ellipsis ellipsis-2-line"></span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-danger">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal UnLock-->
<div class="modal fade modal-delete" id="modalUnLock" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form role="form" id="formUnLock">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="userNameUnLock">
                    <div class="text-center">
                        <i class="icon-fluent icon_fluent_lock_open_filled text-azure"></i>
                        <span class="d-block mt-20">Bạn có chắc chắn muốn mở khóa tài khoản<br><span id="tenUnLock" class="text-azure multiline-ellipsis ellipsis-2-line"></span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-secondary">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const isAdmin = @ViewBag.isAdmin;

        const permitedEdit = @Model.PermittedEdit;
        const permitedDelete = @Model.PermittedDelete;
    </script>
    <script src="~/PageScripts/admin/Account.js" asp-append-version="true"></script>
}