<!-- Modal Delete-->
<div class="modal fade modal-delete" id="modalApprove" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form role="form" id="formDelete">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="idApprove">
                    <input type="hidden" class="form-control" id="valueApprove">
                    <div class="text-center">
                        <i class="icon-fluent icon_fluent_document_checkmark_filled text-green" id="iconApprove"></i>
                        <span class="d-block mt-20">Bạn có chắc chắn muốn <span id="actionApprove">duyệt</span> <br><span id="nameApprove" class="text-green multiline-ellipsis ellipsis-2-line"></span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-success" id="btnSubmitApprove">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>