<!-- Modal Delete-->
<div class="modal fade modal-delete" id="ModalDeleteMetadata" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form role="form" id="formDeleteMetadata">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="idDeleteMetadata">
                    <input type="hidden" class="form-control" id="idDeleteResource">
                    <input type="hidden" class="form-control" id="idDeleteFileFlag">
                    <input type="hidden" class="form-control" id="idDeleteFileParent">
                    <div class="text-center">
                        <i class="icon-fluent icon_fluent_delete_filled text-red"></i>
                        <span class="d-block mt-20">Bạn có chắc chắn muốn xóa dữ liệu này?</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-danger">Đồng ý</button>
                </div>
            </form>
        </div>
    </div>
</div>