@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="wrapper-page wrapper-page-home tintuc-wrapper" id="section-banner">
    <!--Banner-->
    <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner h-100">
            <!-- js -->
        </div>
        <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="wrapper-page wrapper-page-home tintuc-wrapper" id="wrapper-page-home">
    <!--Danh sách tin tức-->
    <div class="container">
        <div class="section-title text-center mt-4 mb-4">
            <h2 class="text-primary">TIN TỨC</h2>
        </div>
        <div class="row" id="newsList">
            <!-- js -->
        </div>
    </div>
</div>

<div class="wrapper-page wrapper-page-home dichvu-wrapprer" id="wrapper-page-home2">
    <!--Danh sách dịch vụ-->
    <div class="container">
        <div class="section-title text-center mt-4 mb-4">
            <h2 class="text-primary pt-4">DỊCH VỤ</h2>
        </div>
        <div class="row" id="serviceList">
            <!-- js -->
        </div>
    </div>
</div>

<div class="wrapper-page wrapper-page-home daotao-wrapper" id="wrapper-page-home3">
    <!--Danh sách đào tạo -->
    <div class="container">
        <div class="section-title text-center mt-4 mb-4">
            <h2 class="text-primary">ĐÀO TẠO</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="trainingCarousel" class="carousel slide mb-1" data-ride="carousel">
                    <div class="carousel-inner">
                        <!-- js -->
                    </div>
                    <a class="carousel-control-prev" href="#trainingCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#trainingCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div id="trainingNewsList">
                    <!-- js -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper-page wrapper-page-home sanpham-wrapper" id="wrapper-page-home4">
    <!--Danh sách sản phẩm -->
    
</div>

@section Scripts {
    @* <script src="~/assets/vendors/highcharts/highcharts.js"></script>
    <script src="~/assets/vendors/highcharts/exporting.js"></script>
    <script src="~/assets/vendors/highcharts/export-data.js"></script>
    <script src="~/assets/vendors/highcharts/accessibility.js"></script> *@
    <script src="~/PageScripts/app/HomePage.js"></script>
  
}