@section VendorCss {
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/23.1.6/css/dx.material.blue.light.css" />
}

<div class="content-header row">
    <div class="content-header-left col-md-12">
        <h3 class="content-header-title mb-0">Quản lý menu</h3>
    </div>
</div>

<div class="content-body dashboard-container menu-permission">
    <section class="checkbox-input-group" id="input-group-checkbox">
        <div class="row match-height">
            <div class="col-lg-4 col-md-12">
                <div class="card shadow-none card-menu">
                    <div class="card-header pb-1">
                        <h4 class="card-title">Danh sách menu</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body pt-1">
                            <div class="form-group text-right">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAdd">Thêm mới</button>
                            </div>
                            <div id="simple-treeview" class="menu-treeview"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card shadow-none card-permission">
                    <div class="card-header pb-1 d-none">
                        <h4 class="card-title" id="tenMenu"></h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body pt-1">
                            <div id="content_phanquyen">
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal add-->
<div class="modal right fade" id="modalAdd" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm mới menu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form role="form" id="formAdd">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="parentIdAdd" class="form-label">Menu cấp cha</label>
                        <select class="form-control" data-placeholder="Chọn menu cấp cha" id="parentIdAdd">
                        <option></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="titleAdd" class="form-label">Tiều đề<span class="text-red"> *</span></label>
                        <input type="text" class="form-control field-input" id="titleAdd" placeholder="Nhập tiêu đề" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="areaNameAdd" class="form-label">AreaName</label>
                        <input type="text" class="form-control field-input" id="areaNameAdd" placeholder="Nhập AreaName" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="controllerNameAdd" class="form-label">ControllerName</label>
                        <input type="text" class="form-control field-input" id="controllerNameAdd" placeholder="Nhập ControllerName" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="actionNameAdd" class="form-label">ActionName</label>
                        <input type="text" class="form-control field-input" id="actionNameAdd" placeholder="Nhập ActionName" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label for="txtDisplayOrderAdd" class="form-label">Thứ tự hiển thị</label>
                        <input type="number" class="form-control field-input" id="txtDisplayOrderAdd" placeholder="Nhập ActionName" autocomplete="off" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Hủy bỏ</button>
                    <button type="submit" class="btn btn-secondary">Lưu</button>
                </div>
            </form>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<!-- Modal Delete-->
@await Html.PartialAsync("~/Areas/AdminTool/Views/Shared/_PartialView/ModalDelete.cshtml")


@section Scripts {
    <script src="~/PageScripts/admin/DanhSachMenu.js" asp-append-version="true"></script>
}