
<div id="section-main-detail-content">
    <!--Nội dung-->
</div>

@section Scripts {
    <script>
        const baiVietID = '@ViewBag.BaiVietID';
    </script>
    <script src="~/PageScripts/app/ChiTiet_DichVu.js" asp-append-version="true"></script>
}
