<footer class="footer">
    <div class="container">
        <div class="row footer-wrapper">
            <div class="col-lg-2 col-sm-6 footer-cert">
                <img class="brand-logo" alt="Trung tâm Công nghệ thông tin tỉnh Thừa Thiên Huế" src="/assets/images/logo/BVQI ISO90012000 LOGO.jpg">
                <img class="brand-logo" alt="Trung tâm Công nghệ thông tin tỉnh Thừa Thiên Huế" src="/assets/images/logo/BVQI-Logo1.jpg">
                <img class="brand-logo" alt="Trung tâm Công nghệ thông tin tỉnh Thừa Thiên Huế" src="/assets/images/logo/handle_cert.png">
                <p style="margin: 0; text-align: center">© 2024 HueCIT</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                @* <h4>Cơ quan chủ quản: Sở Thông tin và Truyền thông tỉnh Thừa Thiên Huế</h4> *@
                <div class="footer-logo">
                    <img class="brand-logo" alt="Trung tâm Công nghệ thông tin tỉnh Thừa Thiên Huế" src="/assets/images/logo/M3_3.png">
                </div>
                <p>Địa chỉ: 6 Lê Lợi, Tp. Huế</p>
                <p>Điện thoại: 0234. 3 823 650</p>
                <p>Email: info@huecit.vn</p>
                <p>Website: www.huecit.vn</p>
                @* <p>Người chịu trách nhiệm chính: Ông Nguyễn Xuân Sơn, Giám đốc Sở Thông tin và Truyền thông TT Huế</p>
                <p>Ghi rõ nguồn <a href="data.thuathienhue.gov.vn" class="text-medium text-white" target="_blank">data.thuathienhue.gov.vn</a> khi bạn phát hành lại thông tin từ Website này</p>
                <p>Thiết kế và xây dựng: <a href="https://huecit.vn" class="text-medium text-white" target="_blank">Trung tâm Công nghệ thông tin tỉnh Thừa Thiên Huế (HueCIT)</a></p> *@
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="footer-wrapper">
                    <div class="footer-item-title">
                        SẢN PHẨM - DỊCH VỤ
                    </div>
                    <div class="footer-item-content">
                        0234.3823077 nhánh 19
                    </div>
                    <div class="footer-item-bottom">
                        <div class="footer-item-bottom-icon">
                            <a href="https://www.facebook.com/Huecit" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="footer-item-bottom-sub">
                            <p>HueCIT</p>
                            <p>Theo dõi chúng tôi</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="footer-wrapper">
                    <div class="footer-item-title">
                        TRUYỀN THÔNG
                    </div>
                    <div class="footer-item-content">
                        0234.3823077 nhánh 21
                    </div>
                    <div class="footer-item-bottom">
                        <div class="footer-item-bottom-icon">
                            <a href="https://www.facebook.com/khamphahue.com.vn/" target="_blank">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="footer-item-bottom-sub">
                            <p>Kham pha Hue </p>
                            <p>Theo dõi chúng tôi</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <div class="footer-wrapper">
                    <div class="footer-item-title">
                        THEO DÕI CHÚNG TÔI
                    </div>
                    <div class="footer-item-icon-contact">
                        <a class="icon-item" href="https://www.facebook.com/Huecit" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="icon-item" href="https://www.youtube.com/@@huecitvn8364" target="_blank">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                        <a class="icon-item" href="https://www.instagram.com/huecitvn/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a class="icon-item" href="https://www.facebook.com/Huecit" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a class="icon-item" href="https://twitter.com/HueCIT" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="footer-item-contact">
                        LIÊN HỆ
                    </div>
                </div>
                <ul>
                    @* <li>
                        <a asp-area="" asp-controller="search" asp-action="Index">Tìm kiếm dữ liệu mở</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="ThongKe" asp-action="Index">Thống kê dữ liệu mở</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="News" asp-action="DanhSachTinHoatDong">Tin tức</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="News" asp-action="DanhSachVanBan">Văn bản</a>
                    </li>
                    <li>
                        <a href="/HDSD/index.html">Hướng dẫn sử dụng</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="News" asp-action="LienHe">Liên hệ</a>
                    </li> *@
                    @*<a asp-area="" asp-controller="News" asp-action="HuongDanSuDung">Hướng dẫn sử dụng</a>*@
                </ul>
            </div>
        </div>
    </div>
</footer>