html {
  position: relative;
  font-size: 16px;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter Regular";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--body);
  background-color: var(--white);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Inter Regular", Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0px;
  color: #000000;
  font-family: 'Gotham', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
  line-height: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
  line-height: 26px;
}

h6 {
  font-size: 20px;
} */

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-85 {
  margin-top: 85px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-95 {
  margin-top: 95px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-105 {
  margin-top: 105px;
}

.mt-110 {
  margin-top: 110px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-125 {
  margin-top: 125px;
}

.mt-130 {
  margin-top: 130px;
}

.mt-135 {
  margin-top: 135px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-145 {
  margin-top: 145px;
}

.mt-150 {
  margin-top: 150px;
}

.mt-155 {
  margin-top: 155px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-165 {
  margin-top: 165px;
}

.mt-170 {
  margin-top: 170px;
}

.mt-175 {
  margin-top: 175px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-185 {
  margin-top: 185px;
}

.mt-190 {
  margin-top: 190px;
}

.mt-195 {
  margin-top: 195px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-205 {
  margin-top: 205px;
}

.mt-210 {
  margin-top: 210px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-220 {
  margin-top: 220px;
}

.mt-225 {
  margin-top: 225px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-85 {
  margin-bottom: 85px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-95 {
  margin-bottom: 95px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-105 {
  margin-bottom: 105px;
}

.mb-110 {
  margin-bottom: 110px;
}

.mb-115 {
  margin-bottom: 115px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb-125 {
  margin-bottom: 125px;
}

.mb-130 {
  margin-bottom: 130px;
}

.mb-135 {
  margin-bottom: 135px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-145 {
  margin-bottom: 145px;
}

.mb-150 {
  margin-bottom: 150px;
}

.mb-155 {
  margin-bottom: 155px;
}

.mb-160 {
  margin-bottom: 160px;
}

.mb-165 {
  margin-bottom: 165px;
}

.mb-170 {
  margin-bottom: 170px;
}

.mb-175 {
  margin-bottom: 175px;
}

.mb-180 {
  margin-bottom: 180px;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-190 {
  margin-bottom: 190px;
}

.mb-195 {
  margin-bottom: 195px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-205 {
  margin-bottom: 205px;
}

.mb-210 {
  margin-bottom: 210px;
}

.mb-215 {
  margin-bottom: 215px;
}

.mb-220 {
  margin-bottom: 220px;
}

.mb-225 {
  margin-bottom: 225px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-55 {
  padding-top: 55px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-65 {
  padding-top: 65px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-95 {
  padding-top: 95px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-105 {
  padding-top: 105px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-125 {
  padding-top: 125px;
}

.pt-130 {
  padding-top: 130px;
}

.pt-135 {
  padding-top: 135px;
}

.pt-140 {
  padding-top: 140px;
}

.pt-145 {
  padding-top: 145px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-155 {
  padding-top: 155px;
}

.pt-160 {
  padding-top: 160px;
}

.pt-165 {
  padding-top: 165px;
}

.pt-170 {
  padding-top: 170px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-180 {
  padding-top: 180px;
}

.pt-185 {
  padding-top: 185px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-195 {
  padding-top: 195px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-205 {
  padding-top: 205px;
}

.pt-210 {
  padding-top: 210px;
}

.pt-215 {
  padding-top: 215px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-225 {
  padding-top: 225px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-55 {
  padding-bottom: 55px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-65 {
  padding-bottom: 65px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-85 {
  padding-bottom: 85px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-95 {
  padding-bottom: 95px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-105 {
  padding-bottom: 105px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-125 {
  padding-bottom: 125px;
}

.pb-130 {
  padding-bottom: 130px;
}

.pb-135 {
  padding-bottom: 135px;
}

.pb-140 {
  padding-bottom: 140px;
}

.pb-145 {
  padding-bottom: 145px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pb-155 {
  padding-bottom: 155px;
}

.pb-160 {
  padding-bottom: 160px;
}

.pb-165 {
  padding-bottom: 165px;
}

.pb-170 {
  padding-bottom: 170px;
}

.pb-175 {
  padding-bottom: 175px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-185 {
  padding-bottom: 185px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-195 {
  padding-bottom: 195px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-205 {
  padding-bottom: 205px;
}

.pb-210 {
  padding-bottom: 210px;
}

.pb-215 {
  padding-bottom: 215px;
}

.pb-220 {
  padding-bottom: 220px;
}

.pb-225 {
  padding-bottom: 225px;
}

.container, .container-fluid {
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-left: 12px;
  padding-right: 12px;
}

b,
strong {
  font-family: "Inter Bold";
  font-weight: 700;
}

.text-normal {
  font-family: "Inter Regular" !important;
  font-weight: 400 !important;
}

.text-medium {
  font-family: "Inter Medium" !important;
  font-weight: 500 !important;
}

.text-semibold {
  font-family: "Inter SemiBold" !important;
  font-weight: 600;
}

.text-bold {
  font-family: "Inter Bold" !important;
  font-weight: 700;
}

.text-yellow {
  color: var(--warning) !important;
}

.text-green {
  color: var(--success) !important;
}

.text-blue-light {
  color: var(--blue-light) !important;
}

.text-azure {
  color: var(--blue) !important;
}

.text-blue {
  color: var(--info) !important;
}

.text-red {
  color: var(--red) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-blue-gray {
  color: var(--blue-gray);
}

.text-orange {
  color: var(--orange) !important;
}

.text-gray-dark {
  color: var(--gray-dark) !important;
}

.flex-end {
  align-items: flex-end !important;
}

.center-align {
  text-align: center !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.shadow-none {
  box-shadow: none !important;
}

.bg-blue-light {
  background-color: var(--bg-blue-light) !important;
}

.bg-danger-light {
  background-color: var(--danger-light) !important;
}

.bg-warning-light {
  background-color: var(--warning-light) !important;
}

.bg-success-light {
  background-color: var(--success-light) !important;
}

.bg-info-light {
  background-color: var(--info-light) !important;
}

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* -webkit-line-clamp: 3; */ /* start showing ellipsis when 3rd line is reached */
  /* white-space: pre-wrap; */
  line-height: 1.3;
}

.ellipsis-1-line {
  -webkit-line-clamp: 1;
}

.ellipsis-2-line {
  -webkit-line-clamp: 2;
}

.ellipsis-3-line {
  -webkit-line-clamp: 3;
}

.ellipsis-4-line {
  -webkit-line-clamp: 4;
}

.ellipsis-5-line {
  -webkit-line-clamp: 5;
}

.break-all {
  word-break: break-all !important;
}

.break-word {
  word-break: break-word !important;
}

.nowrap {
  white-space: nowrap;
}

td .text-truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.w-140 {
  max-width: 140px;
}

/* .table-layout-fixed {
  table-layout: fixed;
} */

.form-control {
  display: block;
  width: 100%;
  /* height: calc(2.375rem + 2px); */
  padding: 7px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--body);
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid var(--border-input);
  border-radius: 8px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: var(--body);
  border-color: var(--blue);
}

textarea.form-control {
  min-height: 40px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: var(--border-light);
  opacity: 1;
}

.input-group.date .form-control:focus ~ .input-group-addon .input-group-text {
  border-color: #00B5B8;
}

form .form-control {
  border: 1px solid var(--border-input);
  color: var(--body);
}

.btn {
  font-family: "Inter Medium";
  display: inline-block;
  font-weight: 500;
  /* color: #000; */
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 7px 16px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  /* min-height: calc(2.25rem + 2px); */
}

.btn.btn-icon {
  line-height: 24px;
}

.btn.btn-warning,
a.btn.btn-warning,
.btn.btn-warning:hover,
a.btn.btn-warning:hover {
  color: var(--btn-text-warning) !important;
  background-color: var(--btn-bg-warning);
  border-color: var(--btn-border-warning);
} 

.btn.btn-outline-primary,
a.btn.btn-outline-primary,
.btn.btn-outline-primary:hover,
a.btn.btn-outline-primary:hover {
  color: var(--btn-text-outline-primary) !important;
  background-color: var(--btn-bg-outline-primary);
  border-color: var(--btn-border-outline-primary) !important;
}

.btn.btn-secondary {
  color: var(--white);
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn.btn-outline-secondary,
a.btn.btn-outline-secondary,
.btn.btn-outline-secondary:hover,
a.btn.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled):active, 
.btn-outline-secondary:not(:disabled):not(.disabled).active, 
.show > .btn-outline-secondary.dropdown-toggle {
  color: var(--btn-text-outline-secondary) !important;
  background-color: var(--btn-bg-outline-secondary);
  border-color: var(--btn-border-outline-secondary) !important;
}

.btn.btn-outline-light {
  color: var(--body);
  background-color: var(--white);
  border-color: var(--border-input);
}

.btn.btn-danger {
  color: var(--white);
  background-color: var(--red) !important;
  border-color: var(--red) !important;
}

.btn.btn-outline-danger,
.btn.btn-outline-danger:hover,
.btn.btn-outline-danger:focus {
  color: var(--red) !important;
  background-color: var(--white);
  border-color: var(--red);
}

.btn.btn-success,
.btn.btn-success:hover,
.btn.btn-success:focus,
a.btn.btn-success,
a.btn.btn-success:hover,
a.btn.btn-success:focus {
  color: var(--white);
  background-color: var(--success) !important;
  border-color: var(--success) !important;
}

.btn.btn-outline-success,
.btn.btn-outline-success:hover,
.btn.btn-outline-success:focus {
  color: var(--success) !important;
  background-color: var(--white) !important;
  border-color: var(--success) !important;
}

.btn.btn-dark,
.btn.btn-dark:hover,
.btn.btn-dark:focus {
  color: var(--body) !important;
  background-color: var(--border-input);
  border-color: var(--border-input);
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.group-button-action.d-flex .btn {
  margin-left: 8px;
}

.group-button-action.d-flex .btn:first-child {
  margin-left: 0;
}

.group-button-action .btn {
  margin-left: 4px;
  min-width: 120px;
}

.group-button-action .btn:first-child {
  margin-left: 0;
}

.group-button-action .btn ~ .dropdown .btn {
  margin-left: 4px;
}

.group-button-action.d-flex .btn ~ .dropdown .btn {
  margin-left: 8px;
}

.group-button-action.group-button-left.d-flex .btn {
  margin-left: 0;
  margin-right: 8px;
}

.group-button-action.group-button-left.d-flex .btn:last-child {
  margin-right: 0;
}

.group-button-action.group-button-left .btn {
  margin-left: 0;
  margin-right: 4px;
}

.group-button-action.group-button-left .btn:last-child {
  margin-right: 0;
}

.group-button-action.group-button-left .btn ~ .dropdown .btn {
  margin-left: 0;
  margin-right: 4px;
}

.group-button-action.group-button-left.d-flex .btn ~ .dropdown .btn {
  margin-left: 0;
  margin-right: 8px;
}

.form-row{
  margin-left: -8px;
  margin-right: -8px;
}

.form-row>.col, .form-row>[class*="col-"]{
  padding-left: 8px;
  padding-right: 8px;
}

.form-row .col-grow {
  /* flex-grow: 1; */
  flex: 1;
}

.form-row .col-basis {
  /* flex-basis: auto; */
  flex: 0 1 auto;
}

.alert-success{
  color: var(--success) !important;
  background-color: var(--success-light) !important;
  border-color: var(--border-success) !important;
}

.alert-danger{
  color:var(--red) !important;
  background-color: var(--danger-light) !important;
  border-color: var(--border-danger) !important;
}

.alert-info{
  color:var(--info) !important;
  background-color: var(--info-light) !important;
  border-color: var(--border-info) !important;
}

.alert-warning{
  color: var(--warning) !important;
  background-color: var(--warning-light) !important;
  border-color: var(--border-warning) !important;
}

.alert.alert-success .close {
  color: var(--success);
}

.alert.alert-danger .close {
  color: var(--red);
}

.alert.alert-info .close {
  color: var(--info);
}

.alert.alert-warning .close {
  color: var(--warning);
}

.alert {
  border-radius: 8px;
}

.alert .close {
  font-size: 30px;
  line-height: 30px;
  text-shadow: none;
  opacity: 1;
  font-weight: 400;
  top: 7px !important;
}

.alert .close:focus {
  outline: 0;
}

.alert span.icon-fluent,
.alert span.icon-fluent::before {
  font-size: 24px;
}

.alert span:not(.icon-fluent) {
  font-size: 14px;
  line-height: 20px;
  word-break: break-word;
}

body > [data-notify="container"] {
  padding-right: 30px;
}

.badge {
  font-family: "Inter Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
  border-radius: 8px;
}

.badge.badge-success {
  background-color: var(--success-light);
  color: var(--success);
}

.badge.badge-info {
  background-color: var(--info-light);
  color: var(--info);
}

.badge.badge-warning {
  background-color: var(--warning-light);
  color: var(--warning);
}

.badge.badge-secondary {
  background-color: var(--border-input);
  color: var(--body);
}

.badge.badge-danger {
  background-color: var(--danger-light);
  color: var(--red);
}

.box-blue-light {
  padding: 24px;
  border-radius: 8px;
  background-color: var(--bg-box);
}

.border-light {
  border: 1px solid var(--border-light) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*------------------------------------------*/
/*       Select 2 Bootstrap 4
/*------------------------------------------*/
.select2-container--bootstrap4 .select2-selection {
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--border-input);
  border-radius: 8px;
  -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}
.select2-container--bootstrap4 .select2-selection--single {
  /* height: calc(2.25rem + 2px) !important; */
  height: calc(2.375rem + 2px) !important;
  position: relative;
}
.select2-container--bootstrap4.select2-container--focus .select2-selection,
.select2-container--bootstrap4.select2-container--focus .select2-selection:focus {
  border-color: #80bdff;
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,123,255,0.25);
  box-shadow: 0 0 0 .2rem rgba(0,123,255,0.25);
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
  padding-left: .75rem;
  line-height: calc(2.375rem + 2px);
  color: var(--body);
  padding: 0 48px 0 16px;
  /* max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
      overflow: hidden;
  text-overflow: unset;
  white-space: normal; */
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
  line-height: 24px;
  color: var(--placeholder-form);
  font-size: 16px;
}
table.dataTable.compact th .select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder{
  color: var(--gray);
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 24px;
  height: 24px;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b,
.select2-container--bootstrap4.select2-container--open .select2-selection--single .select2-selection__arrow b {
  position: static;
  margin: 0;
  border: none;
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b::after {
  /* border: none;
  background-image: url('../images/icn-chevron-down.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 8px;
  left: auto; */
  content: "\e3e2";
  font-family: "FluentSystemIcons";
  font-size: 24px;
}
.select2-container--bootstrap4.select2-container--open .select2-selection--single .select2-selection__arrow b::after {
  content: "\e3ea";
}
.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b::after {

}
.select2-container--bootstrap4 .select2-results>.select2-results__options{
  scrollbar-color: var(--white) var(--scrollbar-thumb);
  scrollbar-width: thin;
}

.select2-container--bootstrap4 .select2-results>.select2-results__options::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
  border-radius: 999px;
}

.select2-container--bootstrap4 .select2-results>.select2-results__options::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
}

.select2-container--bootstrap4 .select2-results>.select2-results__options::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 999px;
}

.select2-container.select2-container--bootstrap4 .select2-selection__clear {
  float: right;
  width: 15px;
  height: 15px;
  padding: 0;
  margin-top: 13px;
  margin-right: 32px;
  color: #f8f9fa;
  background-color: #c8c8c8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select2-container.select2-container--bootstrap4 .select2-selection--single .select2-selection__clear{
  margin-top: 12px;
  margin-right: 0;
}
.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__clear{
  margin-right: 0;
}

.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered {
  padding: 0 16px;
}

.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-search__field {
  max-width: 100%;
}

.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
  font-family: "Inter Medium";
  font-size: 14px;
  line-height: 20px;
  color: var(--body);
  padding: 5px 8px 5px 12px;
  background-color: var(--border-light);
  border-color: var(--border-light);
}

.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
  font-family: "Inter Regular";
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: var(--body);
  float: right;
  margin-right: 0;
  margin-left: 0.5rem;
  padding: 0;
}

.select2-container--bootstrap4.select2-container--open.select2-container--above .select2-selection {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-search__field::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--gray);
}

.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-search__field::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--gray);
}

.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-search__field:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--gray);
}

.select2-container.select2-container--bootstrap4 .select2-selection--multiple .select2-search__field:-moz-placeholder {
  /* Firefox 18- */
  color: var(--gray);
}

/*------------------------------------------------------------*/
/* Datatable */
/*------------------------------------------------------------*/
/************************************************************************/
/*table.dataTable {
  border-collapse: collapse;
}
table.dataTable.no-footer {
  border-bottom: 1px solid var(--border-table);
}
table.dataTable th, table.dataTable td {
  border: 1px solid var(--border-table);
  line-height: 24px;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th {
  padding: 16px 12px;
  border-bottom: 1px solid var(--border-table);
  vertical-align: middle;
  background-color: var(--bg-thead-table);
  font-weight: 600 !important;
  color: var(--title);
  font-size: 14px;
  white-space: nowrap;
}
table.dataTable td{
  padding: 18px 12px;
}*/

.table-wrapper {
  width: 100%;
}

table.dataTable {
  border: 0;
  border-spacing: 0;
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

table.dataTable.compact thead th, 
table.dataTable.compact thead td, 
table.dataTable.compact tfoot th, 
table.dataTable.compact tfoot td {
  /* padding: 17px 10px; */
  padding: 12px 16px;
  /* font-size: 14px; */
  font-size: 16px;
  font-family: 'Inter Medium';
  font-weight: 500 !important;
  color: var(--body) !important;
  background-color: var(--bg-thead-table);
  border: 0;
}

.dx-treelist-container {
    position: relative;
    cursor: default;
    white-space: normal;
    line-height: normal;
    color: rgba(0,0,0,.87);
    background-color: transparent;
}

.dx-treelist-borders > .dx-treelist-filter-panel, 
.dx-treelist-borders > .dx-treelist-headers {
    border: 1px solid var(--border-light);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.dx-treelist-borders > .dx-treelist-headers,
.dx-treelist-borders > .dx-treelist-rowsview,
.dx-treelist-borders > .dx-treelist-total-footer {
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-light);
}

.dx-treelist-container .dx-treelist-headers table.dx-treelist-table tbody td {
    /* padding: 17px 10px; */
    padding: 12px 16px;
    /* font-size: 14px; */
    font-size: 16px;
    font-family: 'Inter Medium';
    font-weight: 500 !important;
    color: var(--body) !important;
    background-color: var(--bg-thead-table);
    border: 0;
    line-height: 1.5;
}

    .dx-treelist-container .dx-treelist-headers table.dx-treelist-table tbody td:first-child {
        border-top-left-radius: 8px;
    }

    .dx-treelist-container .dx-treelist-headers table.dx-treelist-table tbody td:last-child {
        border-top-right-radius: 8px;
    }

    .dx-treelist-container .dx-treelist-headers table.dx-treelist-table tbody td:hover {
        background-color: var(--bg-thead-table) !important;
    }

.dx-treelist-container .dx-treelist-rowsview table.dx-treelist-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

.dx-treelist-container .dx-treelist-rowsview table.dx-treelist-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.dx-treelist-borders > .dx-treelist-headers,
.dx-treelist-borders > .dx-treelist-rowsview,
.dx-treelist-borders > .dx-treelist-total-footer {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

    table.dataTable.compact tbody th, table.dataTable.compact tbody tr {
        background-color: var(--white) !important;
    }

    table.dataTable.compact tbody th, 
    table.dataTable.compact tbody td {
        padding: 12px 16px;
        border-top: 0;
        border-bottom: 1px solid var(--border-light);
        background-color: transparent;
    }

.dx-treelist .dx-row-lines {
    background-color: var(--white);
}

.dx-treelist .dx-row-lines > td {
    background-color: transparent !important;
}

.dx-treelist-container .dx-treelist-rowsview table.dx-treelist-table tbody tr.dx-row:hover {
    background-color: rgb(245, 247, 250) !important;
}

table.dataTable.compact thead > tr > th:first-of-type, table.dataTable.compact thead > tr > td:first-of-type {
  border-top-left-radius: 8px;
}

table.dataTable.compact thead > tr > th:last-of-type, table.dataTable.compact thead > tr > td:last-of-type {
  border-top-right-radius: 8px;
}

table.dataTable.compact tbody > tr > th:first-of-type, table.dataTable.compact tbody > tr > td:first-of-type {
  border-left: 1px solid var(--border-light);
}

table.dataTable.compact tbody > tr > th:last-of-type, table.dataTable.compact tbody > tr > td:last-of-type {
  border-right: 1px solid var(--border-light);
}

.dx-treelist .dx-row-lines > td {
    border-bottom: 1px solid var(--border-light);
    background-color: var(--white);
    padding: 12px 16px;
    border-top: 0;
    font-family: "Inter Regular";
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--body);
}


table.dataTable.compact tbody > tr:last-of-type > th:first-of-type, table.dataTable.compact tbody > tr:last-of-type > td:first-of-type {
  border-bottom-left-radius: 8px;
}

table.dataTable.compact tbody > tr:last-of-type > th:last-of-type, table.dataTable.compact tbody > tr:last-of-type > td:last-of-type {
  border-bottom-right-radius: 8px;
}

table.dataTable.compact:not(.no-footer) tbody > tr:last-of-type > td:first-of-type {
  border-bottom-left-radius: 0;
}

table.dataTable.compact:not(.no-footer) tbody > tr:last-of-type > td:last-of-type {
  border-bottom-right-radius: 0;
}

table.dataTable.compact tfoot > tr:last-of-type > th:first-of-type,
table.dataTable.compact tfoot > tr:last-of-type > td:first-of-type {
  border-bottom-left-radius: 8px;
}

table.dataTable.compact tfoot > tr:last-of-type > th:last-of-type,
table.dataTable.compact tfoot > tr:last-of-type > td:last-of-type {
  border-bottom-right-radius: 8px;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td{
  vertical-align: middle;
}

table.dataTable thead>tr>th.sorting_asc, 
table.dataTable thead>tr>th.sorting_desc, 
table.dataTable thead>tr>th.sorting, 
table.dataTable thead>tr>td.sorting_asc, 
table.dataTable thead>tr>td.sorting_desc, 
table.dataTable thead>tr>td.sorting {
  padding-right: 16px;
  /* pointer-events: none; */
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  content: none;
}

/* table.dataTable thead>tr>th.sorting_asc, 
table.dataTable thead>tr>th.sorting_desc, 
table.dataTable thead>tr>th.sorting, 
table.dataTable thead>tr>td.sorting_asc, 
table.dataTable thead>tr>td.sorting_desc, 
table.dataTable thead>tr>td.sorting {
  padding-right: 36px;
}

table.dataTable.compact thead > tr > th.group-icon-action {
  padding-right: 16px;
} */

table.dataTable.compact thead > tr > th.group-icon-action.sorting::after,
table.dataTable.compact thead > tr > th.group-icon-action.sorting::before {
  content: none;
}

table.dataTable tbody tr:hover td {
  background-color: rgb(245, 247, 250);
}

.table-wrapper .dataTables_inner {
  width: 100%;
  margin: 0 auto 10px;
  overflow: auto;
}

.table-wrapper .dt-buttons.btn-group {
  display: none;
}

.table-wrapper .dataTables_bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.table-wrapper.table-bottom-space-between .dataTables_bottom {
  justify-content: space-between;
}

.table-wrapper .dataTables_bottom .dataTables_length > label {
  margin-bottom: 0;
  display: block;
}

.table-wrapper .dataTables_bottom .dataTables_paginate {
  margin-left: 8px;
}

.dataTables_paginate .pagination .paginate_button .page-link,
.dx-pager .dx-pages .dx-page {
    font-family: "Inter Medium";
    font-size: 14px;
    line-height: 36px;
    min-width: 36px;
    margin-left: 0;
    border: none;
    padding: 0 8px;
    text-align: center;
    margin-left: 8px;
    background-color: transparent;
    color: var(--body);
}

.dataTables_paginate .pagination .page-item.active .page-link,
.dx-pager .dx-page-sizes .dx-selection, 
.dx-pager .dx-pages .dx-selection {
    border-radius: 8px;
    background-color: var(--blue);
    color: var(--white);
}

.dx-widget.dx-datagrid-pager.dx-treelist-pager.dx-pager {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dx-pager .dx-pages .dx-next-button::before,
.dx-pager .dx-pages .dx-prev-button::before {
    position: absolute;
    display: block;
    width: 21px;
    top: 0;
    margin-top: 0;
    left: 50%;
    margin-left: -10.5px;
    font-size: 30px;
    line-height: 36px;
    display: block;
    font-weight: 400;
}

.dataTables_paginate .pagination .page-item.disabled .page-link {
  background-color: transparent;
  color: var(--body);
}

.dataTables_paginate .pagination .page-item i {
  font-size: 24px;
  line-height: 36px;
  display: block;
}

.dataTables_paginate .pagination .page-item i[class*=" icon_fluent"]:before {
  line-height: 36px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 0;
  flex-wrap: wrap;
}

.dataTables_scrollBody {
  scrollbar-color: var(--scrollbar-thumb) transparent;
  scrollbar-width: thin;
}

.dataTables_scrollBody::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
  -webkit-border-radius: 999px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
  -webkit-border-radius: 999px;
}

div.DTS div.dataTables_scrollBody {
  background: none;
}

.customize_scrollbar,
.highcharts-scrolling {
  scrollbar-color: var(--scrollbar-thumb) transparent;
  scrollbar-width: thin;
}

.customize_scrollbar::-webkit-scrollbar,
.highcharts-scrolling::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  -webkit-border-radius: 999px;
}

.customize_scrollbar::-webkit-scrollbar-track,
.highcharts-scrolling::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
  -webkit-border-radius: 999px;
}

.customize_scrollbar::-webkit-scrollbar-thumb,
.highcharts-scrolling::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
  -webkit-border-radius: 999px;
}

.customize_scrollbar table.dataTable {
  margin-bottom: 6px !important;
}

/* Alert FeedBack */

.alert-feedback:not(.show) {
  height: 0;
}

.alert-feedback.show, .validation-msg {
  font-size: 14px;
  margin-top: 4px;
  color: var(--red) !important;
}

.validation-msg {
  display: block;
}

.form-label {
  font-family: "Inter Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--body);
  display: block;
  margin-bottom: 8px;
}

.box-title {
  font-family: "Inter SemiBold";
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 8px;
}

/* iCheck */

[class*=icheck-]>input:first-child+input[type=hidden]+label::before, 
[class*=icheck-]>input:first-child+label::before {
    border: 2px solid var(--border-input);
}

.icheck-primary>input:first-child:checked+input[type=hidden]+label::before, 
.icheck-primary>input:first-child:checked+label::before {
    background-color: var(--blue);
    border-color: var(--blue);
}

[class*=icheck-]>input:first-child+input[type=hidden]+label::before, [class*=icheck-]>input:first-child+label::before {
    width: 20px;
    height: 20px;
    top: 2px;
    margin-left: -24px;
}

[class*=icheck-]>label:not(.form-check-label) {
    min-height: 24px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 4px;
    padding-left: 24px !important;
}

[class*=icheck-]>label{
    line-height: 24px;
}

[class*=icheck-]>label.form-check-label {
  padding-left: 0 !important;
}

[class*=icheck-]>input:first-child:checked+input[type=hidden]+label::after, [class*=icheck-]>input:first-child:checked+label::after {
    height: 10px;
    transform: translate(7.75px,5.5px) rotate(45deg);
    -ms-transform: translate(7.75px,5.5px) rotate(45deg);
    width: 5px;
}

[class*=icheck-]>input[type=checkbox]:first-child+input[type=hidden]+label::before, 
[class*=icheck-]>input[type=checkbox]:first-child+label::before {
    border-radius: 4px;
}

.icheck-primary>input:first-child:not(:checked):not(:disabled):hover+input[type=hidden]+label::before,
.icheck-primary>input:first-child:not(:checked):not(:disabled):hover+label::before {
    border-color: var(--blue);
}

.group-check .form-check:not(.form-check-inline) {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.group-check .form-check:not(.form-check-inline) .form-check-input {
  width: 20px;
  height: 20px;
  position: static;
  margin-top: 0;
  margin-left: 0;
  margin-right: 8px;
  cursor: pointer;
}

/* Tag File */

.item-data__tagfile>.tagfile:not(:last-of-type) {
  margin-right: 4px;
}

.tagfile {
  font-family: "Inter Medium";
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0 8px;
  border-radius: 4px;
  color: var(--white);
  display: inline-block;
  background-color: var(--dark);
  /* min-width: 52px;
  text-align: center; */
}

.tagfile.tagfile-success {
  background-color: #107C42;
}

.tagfile.tagfile-info {
  background-color: #1151B1;
}

.tagfile.tagfile-info-dark {
  background-color: #283E99;
}

.tagfile.tagfile-warning {
  background-color: #FDCE24;
  color: var(--body);
}

.tagfile.tagfile-danger {
  background-color: #B30B00;
}

.footer-wrapper > div[class*="col-"]:not(:last-child) {
    border-right: 1px solid #8dc0fa;
}