
<div class="wrapper-page wrapper-page-content bg-lightblue pb-0">
    <div class="container">
        <div class="row">
            <div class="breadcrumb-wrapper col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container container-main-content">
        <div class="row">
            <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
            <label for="openSidebarMenu" class="sidebarIconToggle">
                <div class="spinner diagonal part-1"></div>
                <div class="spinner horizontal"></div>
                <div class="spinner diagonal part-2"></div>
            </label>
            <div class="col-lg-8">
                @* <a title="Sidebar right" class="btn-sidebar" role="button"><i class="icon-fluent icon_fluent_text_continuous_filled"></i></a> *@
                <div id="section-list-content" class="">
                    <!--main content-->
                </div>
                <div class="slideTinBaiKhac news_list_others">
                    <div id="section-bottom">
                        <!--section bottom-->
                    </div>
                </div> 
            </div>
            <div id="GridLeft" class="col-lg-4">
                <div class="col-md-12">
                    <div id="section-sidebar-1">
                        <!--section sidebar 1-->
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="section-sidebar-2">
                        <!--section sidebar 2-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const urlChuyenMuc = '@ViewBag.Url';
    </script>
    <script src="~/PageScripts/app/DanhSach_TinTuc.js" asp-append-version="true"></script>

}
